---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import PostCard from "../components/PostCard.astro";

const allPosts = await Astro.glob("../pages/blog/*.md");

const title = "WordPress Detector Blog";
const description = "Comparisons, analysis, and reviews of WordPress themes, plugins, and services with the unique insight of our data.";
---

<Layout title={title} description={description}>
  <Header />
  <section class="container">
    <h2 class="grid--title">Welcome to WordPress Detector <span>Blog</span></h2>
    <ul class="post--grid">
      {
        allPosts.map((post) => (
          <PostCard post={post} />
        ))
      }
    </ul>
  </section>
  <Footer />
</Layout>

<style is:global>
  .grid--title {
    font-size: 4rem;
    text-align: center;
    padding: 3rem 0;
  }

  .grid--title span {
    font-family: "EB Garamond";
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: 0.5rem;
      left: -0.4rem;
      right: -0.8rem;
      height: 1rem;

      z-index: -1;
      background-image: url("/underline.svg");
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  .post--grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
    padding-bottom: 3rem;
  }
</style>
