<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex" />
    <title>WordPress Detector Extension Uninstall Form</title>
  </head>
  <body class="container__uninstall-form">
    <iframe
      data-tally-src="https://tally.so/r/wdlbND"
      width="100%"
      height="100%"
      title="How can we improve WordPress Detector?"
    >
    </iframe>
    <div class="bottom-rectangle"></div>
  </body>
</html>

<script async src="https://tally.so/widgets/embed.js"></script>

<style is:global>
  .container__uninstall-form {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
    margin: 0;
  }

  iframe {
    border: none;
    height: 100%;
    width: 100%;
  }

  .bottom-rectangle {
    background-color: #eff2ff;
    height: 70px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
</style>
