---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Search from "../components/Search.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
	<Header />
	<h1>WordPress Theme <em>Detector</em> and<br> WordPress Plugin <em>Detector</em></h1>
    <p>Just enter any website URL and <strong>WordPress Detector</strong> will tell you which<br> WordPress theme and WordPress plugins it is using and much more!</p>

    <Search />

	<Footer />
</Layout>
