---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const title = "Report an Issue or Make a Suggestion";
const description = "Report an Issue or Make a Suggestion - WordPress Detector";
---

<Layout title={title} description={description}>
  <Header />
  <section class="container container__contact">
    <iframe
      data-tally-src="https://tally.so/r/nGr1Mo"
      width="100%"
      height="100%"
      title="How can we improve WordPress Detector?"
    >
    </iframe>
    <div class="bottom-rectangle"></div>
  </section>
  <Footer />
</Layout>

<script async src="https://tally.so/widgets/embed.js"></script>

<style>
  .container__contact {
    height: 140vh;
    margin-top: -50px;
    position: relative;
  }

  .bottom-rectangle {
    background-color: #eff2ff;
    height: 70px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
</style>
