<dialog>
  <div class="extension-popup hide-1000">
    <div class="extension-popup--image">
      <img
        src="/images/wordpress-detector-extension-popup.png"
        alt="Extension Popup"
        width="400"
        height="auto"
      />
    </div>
    <button class="extension-popup--button"
      >Free <span id="extensionButtonMessage">Chrome Extension</span
      ></button
    >
  </div>
</dialog>

<style is:global>
  .extension-popup {
    position: fixed;
    top: 0;
    right: 115px;
    width: 400px;
    text-align: center;
    background-color: #eff1fe;
    border: 1px solid #b9b9b9;
    animation: slide-down 0.2s ease-in-out;
  }

  .extension-popup--image {
    -webkit-mask-image: linear-gradient(to bottom, black 85%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 85%, transparent 100%);
  }

  .extension-popup--button {
    font-size: 1rem;
    padding: 0.8rem 1.8rem;
    margin: 1rem 0;
    border-radius: 99px;
    background-color: #213fd4;
  }

  .extension-popup--button:hover {
    background-color: #3858e9;
  }

  @keyframes slide-down {
    0% {
      transform: translateY(-10px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
</style>

<script>
  const dialog = document.querySelector("dialog");
  const extensionButtonMessage = document.getElementById(
    "extensionButtonMessage"
  );
  let storeUrl =
    "https://chromewebstore.google.com/detail/wordpress-theme-and-plugi/ckddhlieecghofpfojemicbieacljgji";

  dialog.addEventListener("click", (event) => {
    if (event.target === dialog) {
      dialog.close();
    } else {
      window.open(storeUrl, "_blank");

      window.dataLayer = window.dataLayer || [];
      window.dataLayer.push({
        event: "Click Extension Popup",
      });
    }
  });
</script>
