<dialog>
  <div class="extension-popup hide-1000">
    <div class="extension-popup--image">
      <img
        src="/wordpress-detector-extension-popup.png"
        alt="Extension Popup"
        width="400px"
        height="auto"
      />
    </div>
    <button class="extension-popup--button"
      >Try the <span id="extensionButtonMessage">Chrome Extension</span></button
    >
  </div>
</dialog>

<style is:global>
  .extension-popup {
    position: fixed;
    top: 0;
    right: 115px;
    width: 400px;
    text-align: center;
    background-color: #eff1fe;
    border: 1px solid #b9b9b9;
    animation: slide-down 0.2s ease-in-out;
  }

  .extension-popup--image {
    -webkit-mask-image: linear-gradient(to bottom, black 85%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 85%, transparent 100%);
  }

  .extension-popup--button {
    font-size: 1rem;
    padding: 0.7rem 1.7rem;
    margin: 1rem 0;
    border-radius: 99px;
  }

  @keyframes slide-down {
    0% {
      transform: translateY(-10px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
</style>

<script>
  import { detectBrowser } from "../scripts/detect-browser.js";

  const dialog = document.querySelector("dialog");
  const extensionButtonMessage = document.getElementById(
    "extensionButtonMessage"
  );
  let storeUrl = "/browser-extension/"; //"https://chromewebstore.google.com/detail/wordpress-theme-and-plugi/ckddhlieecghofpfojemicbieacljgji";

  /*
  switch (detectBrowser()) {
    case "chrome":
      extensionButtonMessage.textContent = "Chrome Extension";
      storeUrl = "https://chrome.google.com/webstore";
    case "firefox":
      extensionButtonMessage.textContent = "Firefox Extension";
      storeUrl = "https://addons.mozilla.org";
    case "safari":
      extensionButtonMessage.textContent = "Safari Extension";
      storeUrl = "https://safari-extensions.apple.com";
    case "edge":
      extensionButtonMessage.textContent = "Edge Extension";
      storeUrl = "https://microsoftedge.microsoft.com/addons";
  }
  */

  dialog.addEventListener("click", (event) => {
    if (event.target === dialog) {
      dialog.close();
    } else {
      window.open(storeUrl, "_blank");
    }
  });
</script>
