---
import ExtensionVideo from "./ExtensionVideo.astro";
import ExtensionPopup from "./ExtensionPopup.astro";
---

<section class="container extension--container">
  <h1 class="extension--title">
    Detect WordPress Themes and Plugins <em>as you browse!</em>
  </h1>
  <p class="extension--description">
    Install the WordPress Detector Brower Extension and know instantly the
    WordPress <strong>theme</strong> and WordPress <strong>plugins</strong> of every
    website you visit!
  </p>
  <a
    href="https://chromewebstore.google.com/detail/wordpress-theme-and-plugi/ckddhlieecghofpfojemicbieacljgji"
    target="_blank"
  >
    <button class="button--extension">View on Chrome Store</button>
  </a>
  <div class="extension--video">
    <ExtensionVideo />
  </div>
</section>

<ExtensionPopup />

<style is:global>
  .extension--container {
    text-align: center;
  }

  .extension--title {
    margin: 0 auto;
    padding: 2rem 0;
    max-width: 900px;
    font-size: 4.2em;
    animation: fade-in-up 0.6s ease-out;
  }

  .extension--title em {
    font-family: "EB Garamond";
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: 0.5rem;
      left: -0.4rem;
      right: -0.8rem;
      height: 1rem;

      z-index: -1;
      background-image: url("/images/underline.svg");
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  .extension--description {
    margin: 0 auto;
    margin-bottom: 2rem;
    max-width: 660px;
    line-height: 1.8rem;
    font-size: 1.2em;
    animation: fade-in-up 0.7s ease-out;
  }

  .button--extension {
    animation: fade-in-up 0.8s ease-out;
  }

  .extension--video {
    margin: 3rem 0;
    animation: fade-in-up 0.9s ease-out;
  }

  @keyframes fade-in-up {
    0% {
      transform: translateY(20px);
      filter: blur(5px);
    }
    100% {
      transform: translateY(0);
      filter: blur(0);
    }
  }
</style>

<script>
  // From Extension Popup
  const dialog = document.querySelector("dialog");

  // Show Extension Popup
  setTimeout(() => {
    dialog.showModal();

    window.dataLayer = window.dataLayer || [];
    window.dataLayer.push({
      event: "show_extension_popup",
    });
  }, 8000);
</script>
