<section class="container">
  <img
    src="/wordpress-detector-browser-extension-mockup.webp"
    alt="Mockup"
    class="extension-image"
  />
</section>

<style>
  .extension-image {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: block;
    border-radius: 10px;
  }
</style>
