<footer>
  <div class="container">
    <a href="/">
      <img
        src="./wordpress-detector-logo.svg"
        alt="WordPress Detector Logo"
        width="228"
        height="50"
      />
    </a>
  </div>
</footer>

<style>
  footer {
    background-color: #23282d;
  }
</style>
