<footer>
  <div class="container">
    <a href="/">
      <img
        src="/wordpress-detector-logo.svg"
        alt="WordPress Detector Logo"
        width="228"
        height="50"
      />
    </a>
    <span class="copyright--message"
      >Copyright &copy; WP Detector. All Rights Reserved. WordPress® is a registered
      brand of the WordPress Foudation</span
    >
  </div>
</footer>

<style is:global>
  footer {
    color: #fff;
    background-color: #23282d;
  }

  .copyright--message {
    display: flex;
    border-top: 1px solid #555555;
    padding: 1rem 0;
    margin-top: 2rem;
    font-size: 14px;
  }
</style>
