<section>
    <h1>WordPress Theme <em>Detector</em> and<br /> WordPress Plugin <em>Detector</em></h1>
    <p>Just enter any website URL and <strong>WordPress Detector</strong> will tell you which<br /> WordPress theme and WordPress plugins it is using and much more!</p>
</section>

<style>
section {
    text-align: center;
}

h1 {
    font-size: 4.5em;
}

em {
    font-size: 100%;
}
</style>
