<header transition:name="header">
  <nav class="container">
    <a href="/" title="WordPress Detector" rel="home">
      <img
        src="/wordpress-detector-logo.svg"
        alt="WordPress Detector Logo"
        width="228"
        height="50"
      />
    </a>
    <div class="nav-links hide-1000">
      <a href="/top-themes">Top Detected Themes</a>
      <a href="/top-plugins">Top Detected Plugins</a>
      <a href="/blog">Blog</a>
    </div>
    <a href="/browser-extension">
      <button class="hide-1000">Browser Extension</button>
    </a>
  </nav>
</header>

<style>
  header {
    height: 85px;
    background-color: #23282d;
    position: sticky;
    top: 0;
    z-index: 100;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-links {
    display: flex;
    gap: 2rem;
  }

  .nav-links a {
    color: #fff;
    text-decoration: none;
  }

  .nav-links a:hover {
    text-decoration: underline;
  }
</style>
