<header>
  <nav class="container">
    <a href="/">
      <img
        src="/wordpress-detector-logo.svg"
        alt="WordPress Detector Logo"
        width="228"
        height="50"
      />
    </a>
    <a href="/browser-extension">
      <button>Browser Extension</button>
    </a>
  </nav>
</header>

<style is:global>
  header {
    background-color: #23282d;
    position: sticky;
    top: 0;
    z-index: 100;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
</style>
