<header class="header">
  <nav>
    <img src="./wordpress-detector-logo.svg" alt="WordPress Detector Logo" />
    <button>Install Extension</button>
  </nav>
</header>

<style>
  header {
    background-color: #23282d;
  }
</style>
