<section class="container container__input">
  <form class="border input--form" id="inputForm">
    <input
      class="input--input"
      type="text"
      id="inputUrl"
      placeholder="Enter any website"
    />
    <button class="button__input" type="submit">Analize Website</button>
  </form>

  <div id="outputContainer"></div>

  <h3 class="input--section-title">
    Showing results for <strong>elementor.com</strong>:
  </h3>

  <div class="card card__wp border">
    <img
      src="/wordpress-detector-success.svg"
      alt="Success Logo"
      class="card--icon"
      width="75"
      height="60"
    />
    <div>
      <h4 class="card--title cart--title__success">Hurray!</h4>
      <p>
        <strong>elementor.com</strong> is using WordPress!
      </p>
    </div>
  </div>

  <div class="card card__wp border">
    <img
      src="/wordpress-detector-fail.svg"
      alt="Success Logo"
      class="card--icon"
      width="75"
      height="60"
    />
    <div>
      <h4 class="card--title cart--title__fail">Bad news...</h4>
      <p>
        <strong>google.com</strong> is not using WordPress.
      </p>
    </div>
  </div>

  <div class="card card__wp border">
    <img
      src="/html-retrieve-error.svg"
      alt="Success Logo"
      class="card--icon"
      width="75"
      height="60"
    />
    <div>
      <h4 class="card--title cart--title__fail">Bad news...</h4>
      <p>
        We could not retrieve the HTML from: <strong>wasdwasd.com</strong>.
      </p>
    </div>
  </div>

  <div class="card card__wp border">
    <div class="loading--icon card--icon loading--skeleton"></div>
    <div class="loading__80">
      <h4 class="card--title loading-title loading--skeleton"></h4>
      <p class="loading-p loading--skeleton loading__80"></p>
    </div>
  </div>

  <h3 class="input--section-title">
    Detected <strong>themes</strong> in elementor.com:
  </h3>

  <div class="card card--hover border">
    <img
      src="https://generatepress.com/wp-content/themes/generatepress/screenshot.png"
      alt="Theme Banner"
      class="card--banner"
    />
    <div class="card--info-container">
      <h4 class="card--title">GeneratePress</h4>
      <p>Author: <strong>Tom Usborne</strong></p>
      <p>Version: <span class="badge">3.4.0</span></p>
      <p>Website: <a href="https://generatepress.com">generatepress.com</a></p>
      <p>WordPress Version: <strong>5.2 or higher</strong></p>
      <p>Tested up To: <strong>6.3</strong></p>
      <p>PHP Version: <strong>5.6 or higher</strong></p>
      <p class="card--description">
        <strong>Description:</strong> GeneratePress is a lightweight WordPress theme
        built with a focus on speed and usability. Performance is important to us,
        which is why a fresh GeneratePress install adds less than 10kb (gzipped)
        to your page size. We take full advantage of the block editor (Gutenberg),
        which gives you more control over creating your content. If you use page
        builders, GeneratePress is the right theme for you. It is completely compatible
        with all major page builders, including Beaver Builder and Elementor. Thanks
        to our emphasis on WordPress coding standards, we can boast full compatibility
        with all well-coded plugins, including WooCommerce. GeneratePress is fully
        responsive, uses valid HTML/CSS, and is translated into over 25 languages
        by our amazing community of users. A few of our many features include 60+
        color controls, powerful dynamic typography, 5 navigation locations, 5 sidebar
        layouts, dropdown menus (click or hover), and 9 widget areas.
      </p>
    </div>
    <div class="cart--read-more--container">
      <span class="cart--read-more">
        <svg
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
          height="25px"
          width="25px"
        >
          <path
            fill="currentColor"
            d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
          ></path>
        </svg>
        Read more
      </span>
    </div>
  </div>

  <div class="card card--hover border">
    <img
      src="https://wpastra.com/wp-content/themes/astra/screenshot.jpg"
      alt="Theme Banner"
      class="card--banner"
    />
    <div class="card--info-container">
      <h4 class="card--title">Astra</h4>
      <p>Author: <strong>Brainstorm Force</strong></p>
      <p>Version: <span class="badge">4.6.5</span></p>
      <p>Website: <a href="https://wpastra.com">wpastra.com</a></p>
      <p>WordPress Version: <strong>5.3 or higher</strong></p>
      <p>Tested up To: <strong>6.4</strong></p>
      <p>PHP Version: <strong>5.3 or higher</strong></p>
      <p class="card--description">
        <strong>Description:</strong> Astra is fast, fully customizable & beautiful
        WordPress theme suitable for blog, personal portfolio, business website and
        WooCommerce storefront. It is very lightweight (less than 50KB on frontend)
        and offers unparalleled speed. Built with SEO in mind, Astra comes with Schema.org
        code integrated and is Native AMP ready so search engines will love your
        site. It offers special features and templates so it works perfectly with
        all page builders like Elementor, Beaver Builder, Visual Composer, SiteOrigin,
        Divi, etc. Some of the other features: # WooCommerce Ready # Responsive #
        RTL & Translation Ready # Extendible with premium addons # Regularly updated
        # Designed, Developed, Maintained & Supported by Brainstorm Force. Looking
        for a perfect base theme? Look no further. Astra is fast, fully customizable
        and WooCommerce ready theme that you can use for building any kind of website!
      </p>
    </div>
    <div class="cart--read-more--container">
      <span class="cart--read-more">
        <svg
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
          height="25px"
          width="25px"
        >
          <path
            fill="currentColor"
            d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
          ></path>
        </svg>
        Read more
      </span>
    </div>
  </div>

  <div class="card border">
    <div class="loading--image loading--skeleton"></div>
    <div class="card--info-container">
      <h4 class="card--title loading-title loading--skeleton"></h4>
      <p class="loading-p loading--skeleton loading__30"></p>
      <p class="loading-p loading--skeleton loading__30"></p>
      <p class="loading-p loading--skeleton loading__30"></p>
      <p class="loading-p loading--skeleton loading__30"></p>
      <p class="loading-p loading--skeleton loading__30"></p>
      <p class="loading-p loading--skeleton loading__30"></p>
      <p class="loading-p loading--skeleton"></p>
      <p class="loading-p loading--skeleton"></p>
      <p class="loading-p loading--skeleton"></p>
      <p class="loading-p loading--skeleton"></p>
      <p class="loading-p loading--skeleton"></p>
      <p class="loading-p loading--skeleton"></p>
      <p class="loading-p loading--skeleton"></p>
      <p class="loading-p loading--skeleton loading__80"></p>
    </div>
  </div>

  <h3 class="input--section-title">
    Detected <strong>plugins</strong> in elementor.com:
  </h3>

  <div class="card card--hover border">
    <img
      src="https://ps.w.org/elementor/assets/banner-772x250.png?rev=3005087"
      alt="Plugin Banner"
      class="card--banner"
    />
    <div class="card--info-container">
      <div class="card--title-container__plugin">
        <img
          src="https://ps.w.org/elementor/assets/icon.svg?rev=2597493"
          alt="Plugin Icon"
          class="card--icon"
          width="60px"
          height="60px"
        />
        <h4 class="card--title">Elementor</h4>
      </div>
      <p>Author: <strong>Elementor.com</strong></p>
      <p>Version: <span class="badge">3.19.2</span></p>
      <p>Website: <a href="https://elementor.com">elementor.com</a></p>
      <p>WordPress Version: <strong>6.0 or higher</strong></p>
      <p>Tested up To: <strong>6.4.3</strong></p>
      <p>PHP Version: <strong>7.4 or higher</strong></p>
      <p class="card--description">
        <strong>Description:</strong>
        Elementor is the leading WordPress website builder that empowers you to successfully
        build professional, pixel-perfect websites. With an intuitive drag and drop
        interface, you get complete control to build any type of website, without
        writing a single line of code. Revolutionize the way you build websites with
        Elementor AI, a native AI integration built specifically for Elementor, that
        transforms the way you build websites by enabling you to create complete
        sections, original text, code, and images instantly. Unlock all of Elementor’s
        features and elevate your website’s potential with Elementor Pro.
      </p>
    </div>
    <div class="cart--read-more--container">
      <span class="cart--read-more">
        <svg
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
          height="25px"
          width="25px"
        >
          <path
            fill="currentColor"
            d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
          ></path>
        </svg>
        Read more
      </span>
    </div>
  </div>

  <div class="card card--hover border">
    <img
      src="https://ps.w.org/wordpress-seo/assets/banner-772x250.png?rev=2643727"
      alt="Plugin Banner"
      class="card--banner"
    />
    <div class="card--info-container">
      <div class="card--title-container__plugin">
        <img
          src="https://ps.w.org/wordpress-seo/assets/icon.svg?rev=2363699"
          alt="Plugin Icon"
          class="card--icon"
          width="60px"
          height="60px"
        />
        <h4 class="card--title">Yoast SEO</h4>
      </div>
      <p>Author: <strong>Team Yoast</strong></p>
      <p>Version: <span class="badge">22.0</span></p>
      <p>Website: <a href="https://yoast.com">yoast.com</a></p>
      <p>WordPress Version: <strong>6.3 or higher</strong></p>
      <p>Tested up To: <strong>6.4.3</strong></p>
      <p>PHP Version: <strong>7.2.5 or higher</strong></p>
      <p class="card--description">
        <strong>Description:</strong>
        Supercharge your website’s visibility and attract organic traffic with Yoast
        SEO, the WordPress SEO plugin trusted by millions worldwide. With those millions
        of users, we’ve definitely helped someone like you! Users of our plugin range
        from owners of small-town bakeries and local physical stores to some of the
        world’s largest and most influential organizations. And we’ve done this since
        2008! Yoast SEO Free provides the essentials to kickstart your SEO, and the
        Yoast SEO Premium plugin and its extensions unlock extra tools and functionality
        to take your SEO to the next level.
      </p>
    </div>
    <div class="cart--read-more--container">
      <span class="cart--read-more">
        <svg
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
          height="25px"
          width="25px"
        >
          <path
            fill="currentColor"
            d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
          ></path>
        </svg>
        Read more
      </span>
    </div>
  </div>

  <div class="card border">
    <div class="loading--image loading--skeleton"></div>
    <div class="card--info-container">
      <div class="card--title-container__plugin">
        <div class="loading--icon card--icon loading--skeleton"></div>
        <h4 class="card--title loading-title loading--skeleton"></h4>
      </div>
      <p class="loading-p loading--skeleton loading__30"></p>
      <p class="loading-p loading--skeleton loading__30"></p>
      <p class="loading-p loading--skeleton loading__30"></p>
      <p class="loading-p loading--skeleton loading__30"></p>
      <p class="loading-p loading--skeleton loading__30"></p>
      <p class="loading-p loading--skeleton loading__30"></p>
      <p class="loading-p loading--skeleton loading__30"></p>
      <p class="loading-p loading--skeleton"></p>
      <p class="loading-p loading--skeleton"></p>
      <p class="loading-p loading--skeleton"></p>
      <p class="loading-p loading--skeleton"></p>
      <p class="loading-p loading--skeleton"></p>
      <p class="loading-p loading--skeleton"></p>
      <p class="loading-p loading--skeleton"></p>
      <p class="loading-p loading--skeleton loading__80"></p>
    </div>
  </div>
</section>

<style is:global>
  .container__input {
    max-width: 500px;
  }

  .input--form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f8f8;
    padding: 0.5rem;
    border-radius: 8px;
    animation: fade-in-up 0.8s ease-out;
  }

  .input--input {
    border: none;
    outline: none;
    background: none;
    font-size: 1.2em;
    margin: 0 1rem;
    width: full;
  }

  .button__input {
    border-radius: 4px;
  }

  .input--section-title {
    margin-top: 2rem;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
  }

  .card {
    border-radius: 8px;
    background-color: #f8f8f8;
    overflow: hidden;
    margin-top: 1.5rem;
    transition: all 0.1s;
  }

  .card--hover:hover {
    background-color: #ffffff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }

  .card--banner {
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin-bottom: -1rem;
    border-bottom: 1px solid #cbcbcb;
  }

  .card--icon {
    margin-right: 1rem;
    border-radius: 2px;
  }

  .card--info-container {
    padding: 1.5rem;
  }

  .card--title {
    font-size: 2rem;
    margin-bottom: 0.3rem;
  }

  .cart--title__success {
    position: relative;
    display: inline-block;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 4px;
      background-image: linear-gradient(
        90deg,
        rgba(2, 217, 88, 1) 0%,
        rgba(2, 217, 88, 0.3) 100%
      );
    }
  }

  .cart--title__fail {
    position: relative;
    display: inline-block;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 4px;
      background-image: linear-gradient(
        90deg,
        rgba(255, 40, 83, 1) 0%,
        rgba(255, 40, 83, 0.3) 100%
      );
    }
  }

  .card--description {
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .cart--read-more--container {
    position: relative;
    height: 2.5rem;
  }

  .cart--read-more {
    position: absolute;
    bottom: 1.5rem;
    right: 1.5rem;
    font-weight: 600;
    display: flex;
    align-items: center;
  }

  .cart--read-more:hover {
    color: #606060;
  }

  .card__wp {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
  }

  .card--title-container__plugin {
    display: flex;
    align-items: center;
    margin-bottom: 0.8rem;
  }

  .badge {
    padding: 1px 5px;
    border-radius: 4px;
    color: #ffffff;
    background-color: #213fd4;
  }

  .loading--skeleton {
    background: linear-gradient(110deg, #ededed 40%, #fff, #ededed 60%);
    background-size: 270%;
    background-position: right 20px top 0;
    animation: skeleton-loading 1s ease infinite;
  }

  .loading--image {
    width: 100%;
    height: 300px;
    border-bottom: 1px solid #cbcbcb;
  }

  .loading--icon {
    width: 60px;
    height: 60px;
    border-radius: 100%;
  }

  .loading-title {
    width: 100%;
    max-width: 220px;
    height: 32px;
    border-radius: 4px;
    margin-top: 0.3rem;
  }

  .loading-p {
    width: 100%;
    height: 14px;
    border-radius: 2px;
    margin-top: 0.3rem;
  }

  .loading__30 {
    width: 30%;
  }

  .loading__80 {
    width: 80%;
  }

  @keyframes skeleton-loading {
    to {
      background-position: left 20px top 0;
    }
  }
</style>

<script src="../scripts/input.js"></script>