<section class="container">
  <form class="input-form" id="inputForm">
    <input type="text" id="inputUrl" name="url" placeholder="Enter any URL" />
    <button class="wp-element-button detector-button" type="submit"
      >Analize Website</button
    >
  </form>
</section>

<section id="outputContainer" class="container"></section>

<style>
  .container {
    text-align: center;
    margin: 0 3rem;
  }

  .input-form {
    display: inline-block;
    padding: 0.7rem 0.7rem 0.7rem 2rem;
    background: #fbfbfb;
    border: 1px solid #d9dce0;
    border-radius: 8px;
    box-shadow: rgba(149, 157, 165, 0.05) 0px 8px 24px;
    transition: 0.2s;
  }

  .input-form:hover {
    background: #ffffff;
    box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 34px;
  }

  input[type="text"] {
    border: none;
    outline: none;
    background: none;
    margin-right: 3rem;
    font-family: "Inter";
    font-size: 20px;
  }
</style>
