<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/wordpress-detector-favicon.svg"
    />
    <link rel="manifest" href="/manifest.json" />
    <title>
      WordPress Theme and Plugin Detector - Find out which WordPress theme and
      plugin any website uses
    </title>
    <meta
      name="description"
      content="Just enter any website URL and WordPress Detector will tell you which WordPress theme and WordPress plugins it is using and much more!"
    />
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  @font-face {
    font-family: "Inter";
    font-weight: 400;
    src: url("./inter.woff2") format("woff2");
  }

  @font-face {
    font-family: "EB Garamond";
    font-weight: 400;
    src: url("./eb-garamond.woff2") format("woff2");
  }

  * {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 18px;
    font-family: "Inter";
    vertical-align: baseline;
  }

  h1,
  h2 {
    font-family: "EB Garamond";
    font-weight: 400;
  }

  em {
    font-family: "EB Garamond";
    font-style: italic;
    font-weight: 400;
  }

  button {
    padding: 1rem 1.5rem;
    color: #fff;
    background-color: #3858e9;
    border-radius: 2px;
    font-weight: 700;
  }

  button:hover {
    background-color: #2544ce;
  }
</style>

<script>
  window.addEventListener("load", () => {
    if ("serviceWorker" in navigator) {
      navigator.serviceWorker.register("/sw.js");
    }
  });
</script>
